/* EXPERIENCES */
.experiences{
    width:80%;
    margin:60px auto;
}

.experience-container{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding-top:20px;
}

.experience-card{
    min-width:250px;
    background:white;
    border-radius:15px;
    padding:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    position:relative;
}

.experience-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
}

.experience-card h4{
    font-size:14px;
    margin:10px 0;
}

.rating{
    font-size:13px;
    color:#00aa55;
    font-weight:600;
}

.price{
    font-size:13px;
    margin-top:5px;
}

.heart{
    position:absolute;
    top:15px;
    right:15px;
    background:white;
    padding:5px 10px;
    border-radius:50%;
    cursor:pointer;
    font-size:18px;
}

/* ARTICLE */
.articles{
    width:80%;
    margin:40px auto;
}

.article-box{
    background:#f1f1f1;
    display:flex;
    align-items:center;
    padding:20px;
    border-radius:15px;
    gap:20px;
}

.article-box img{
    width:120px;
    height:100px;
    object-fit:cover;
    border-radius:10px;
}

/* PROMO */
.promo{
    width:80%;
    margin:40px auto;
}

.promo-box{
    background:#e8f5e9;
    display:flex;
    align-items:center;
    padding:20px;
    border-radius:15px;
    gap:20px;
}

.promo-box img{
    width:120px;
    height:100px;
    object-fit:cover;
    border-radius:10px;
}

.promo-box button,
.article-box button{
    margin-left:auto;
    padding:8px 18px;
    border-radius:20px;
    border:1px solid black;
    background:white;
    cursor:pointer;
}
